
.imagem{
    text-align: center;
    width: 400px;
    border-radius: 5px;


    @media (max-width: 500px) {
        width: 300px;
      }
}

.container{

    display: grid;
    grid-template-columns: 1fr ;
    margin-bottom: 50px;
}

.alinha{

    margin-bottom: 20px;

    img{
        border-radius: 10px;
    }
   
    button{
        margin-left: 10px;
    }

    h1, p {
        color: rgb(148, 127, 100);
    }
    

    a {
        color: rgb(104, 89, 69);
        font-weight: 500;
        margin-left: 20px;
    }

    
    a:hover{
        color: #000;
        font-weight: 700;
    }

}

.sentinela{
    width: 100%;
    height: 50px;
    background-color: rgb(65, 52, 35);
    
}